
body {
    background-image: linear-gradient(to bottom, rgba(0, 0 , 0, 1), rgba(255, 255, 255, 0 )),
     url("../static/images/BlackBird.jpeg");
     height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.content {
    background-color: rgba(255, 0, 0, 0.3);
}

.container {
background-color: rgba(0,0,0,1);
}

.name {
  position: absolute;
  top: 60%;
  left: 8%;
  font-size: 24px;
}

.artist {
  position: absolute;
  top: 53%;
  left: 8%;
  font-size: 24px;
}

.year {
  position: absolute;
  top: 45%;
  left: 8%;
  font-size: 32px;
}

.time {
  position: absolute;
  top: 45%;
  left: 17%;
   font-size: 32px;
}

.song_name {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
   font-size: 64px;
}

.Album{
 background-image: url("/static/images/21.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 99vh;
  margin: 0px;
}

.PLAY{
    position: absolute;
  top: 42%;
  center: 50%;
  right: 46.4%;
}

.home {
    position: absolute;
  top: 85%;
  left: 24%;
}

.record {
    position: absolute;
  top: 85%;
  left: 16%;
}
.restart {
    position: absolute;
  top: 85%;
  left: 8%;
}

.restarttext {
    position: absolute;
  top: 89%;
  left: 8.3%;
}

.playtext {
position: absolute;
  top: 42%;
  center: 50%;
  right: 46.4%;
}

.recordtext {
position: absolute;
  top: 89%;
  left: 16.25%;
}

.hometext {
position: absolute;
  top: 89%;
  left: 24.25%;
}
