body {
    /*background: linear-gradient(to top, #fff, #000),*/ url("../static/images/BlackBird.jpeg");
    background-repeat: no-repeat;
}

.content {
    background-color: rgba(255, 0, 0, 0.3);
}

.container {
background-color: rgba(0,0,0,1);
}

.name {
  position: absolute;
  top: 60%;
  left: 8%;
  font-size: 24px;
}

.artist {
  position: absolute;
  top: 53%;
  left: 8%;
  font-size: 24px;
}

.year {
  position: absolute;
  top: 45%;
  left: 8%;
  font-size: 32px;
}

.time {
  position: absolute;
  top: 45%;
  left: 17%;
   font-size: 32px;
}

.song_name {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
   font-size: 64px;
}

.restarttext {
    position: absolute;
  top: 89%;
  left: 8.3%;
}

.playtext {
position: absolute;
  top: 42%;
  center: 50%;
  right: 46.4%;
}

.recordtext {
position: absolute;
  top: 89%;
  left: 16.25%;
}

.hometext {
position: absolute;
  top: 89%;
  left: 24.25%;
}