<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="22">
      <nav>
          <h2 class="logo">GUITECH</h2>
          <ul>
            <li><a href="#">HOME</a> </li>
            <li><a href="#">PLAY</a> </li>
            <li><a href="#">3</a> </li>
            <li><a href="#">4</a> </li>
          </ul>
          <button type="button">Login</button>
      </nav>
  </div>

<!--  <div class="image">-->
<!--      <img class="image__img" src={{ url_for('static', filename='images/music-placeholder.png')}}>-->
<!--      <div class="image__overlay">-->
<!--          <div class="image__title">Bricks</div>-->
<!--          <p class="image__description">Song</p>-->
<!--      </div>-->
<!--  </div>-->


<!--<div className = "navbar">-->
<!--<nav>-->
<!--    <ul>-->
<!--        <li>-->
<!--            <a href="#" class="logo">-->
<!--                <img src="/music-placeholder" alt="">-->
<!--                <span class="nav-item">GuiTech</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li><a href="#">-->
<!--            <i class="fas fa-home"></i>-->
<!--            <span class="nav-item">HOME</span>-->
<!--        </a></li>-->
<!--        <li><a href="#">-->
<!--            <i class="fas fa-search"></i>-->
<!--            <span class="nav-item">SEARCH</span>-->
<!--        </a></li>-->
<!--        <li><a href="#" class="logout">-->
<!--        <i class="fas fa-sign-out-alt"></i>-->
<!--            <span class="nav-item">EXIT</span>-->
<!--        </a></li>-->
<!--    </ul>-->
<!--</nav>-->
<!--</div>-->

<!--    <div class="banner">-->
<!--        <div class="banner__contents">-->
<!--            <h1 class ="banner__title">FEATURED SONGS</h1>-->
<!--            <div class="banner__buttons">-->
<!--                <button class="banner__button">Play</button>-->
<!--                <button class="banner__button">List</button>-->
<!--    </div>-->
<!--        <div class="banner__description">-->
<!--            Text-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->


<div class="row1">
    <h2 class="BEGINNER"> BEGINNER </h2>
    <div class="row__posters">
            <img class="album" src={{ url_for('static', filename='images/TheBeatles.jpeg')}}>
        <img class="album" src={{ url_for('static', filename='images/BobMarley.jpeg')}}>
        <img class="album" src={{ url_for('static', filename='images/BlessidUnion.jpeg')}}>
        <img class="album" src={{ url_for('static', filename='images/20.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/19.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/21.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/23.jpg')}}>
    </div>

<div class="row2">
    <h2 class="INTERMEDIATE"> INTERMEDIATE </h2>
    <div class="row__posters">
        <img class="album" src={{ url_for('static', filename='images/50.png')}}>
        <img class="album" src={{ url_for('static', filename='images/51.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/52.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/53.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/54.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/55.jpg')}}>
    </div>

<div class="row3">
    <h2 class="ADVANCED"> ADVANCED </h2>
    <div class="row__posters">
        <img class="album" src={{ url_for('static', filename='images/40.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/41.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/42.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/43.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/44.jpg')}}>
        <img class="album" src={{ url_for('static', filename='images/45.jpg')}}>
    </div>

</body>
</html>