<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='play-page-style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>PLayScreen</title>
</head>
<body>

<section class="song-banner">
         <div class="m-banner-img">
             <img src="static/images/19.jpg"
         </div>

        <div class="banner-container">

            <div class="title-container"></div>
                <div class="movie-title"
                    <h1>Pirates of the Caribbean Salazar's Revenge</h1>
                </div>
                <div class="more-about-movie">
                    <span class="quality">FULL HD</span>
                    <div class"rating">
                        8.2 <img src="images/IMDb-icon.png" alt="imbd">
                </div>
                <span>28 August 2017</span>
                <span></span>
        </div>

        <div class="play-btn-container"></div>

        </div>
</section>



</body>
</html>