<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='play_page_style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div class="container">
  <div class="content">
    <div class="name">Album: The Bends</div>
    <div class="artist">Artist(s): RadioHead</div>
    <div class="year">1995</div>
    <div class="time">4 min 18 seconds</div>
    <div class="song_name">High and Dry</div>

    <div class="restarttext"> RESTART </div>
    <div class="recordtext"> RECORD </div>
    <div class="playtext"> PLAY </div>
    <div class="hometext"> HOME </div>
  </div>

  <button type="button" class="button">

       <button id="redirect">PLAY</button>
                <script>
                    document.querySelector('#redirect')
                        .addEventListener('click', () => {
                            location.href = ('/camera_feed')
                        });
                </script>

  <button class="restart" type="button">RESTART</button>
  <button class="record" type="button">RECORD</button>
  <button class="home" type="button">HOME</button>
      <button id="home">HOME</button>
                <script>
                    document.querySelector('#home')
                        .addEventListener('click', () => {
                            location.href = ('/')
                        });
                </script>

</div>

</body>
</html>