<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='play_page_style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--TextForInfoAboutSong-->
<div class="container">
  <div class="content">
    <div class="name">Album: the White Album </div>
    <div class="artist">Artist: The Beatles </div>
    <div class="year"> 1968 </div>
    <div class="time">2 min 19 seconds</div>
    <div class="song_name">BlackBird</div>
<!--ButtonText-->
<div class="restarttext"> RESTART </div>
    <div class="recordtext"> RECORD </div>
    <div class="playtext"> PLAY </div>
    <div class="hometext"> HOME </div>
</div>

<!--<button id="home">HOME</button>-->
<!--    <script>-->
<!--        document.querySelector('#home')-->
<!--            .addEventListener('click', () => {-->
<!--                location.href = ('/')-->
<!--            });-->
<!--    </script>-->

<button id="play">PLAY</button>
    <script>
        document.querySelector('#play')
            .addEventListener('click', () => {
                location.href = ('/camera_feed')
            });
    </script>

<!--Mp3 song code-->
<!--<h1>The audio src attribute</h1>-->

<!--<p>Click on the play button to play a sound:</p>-->
<audio controls autoplay>
    <source src="./static/mp3music/BlackBird.mp3" controls>
    song.volume = 0.2;
<!--Your browser does not support the audio element.-->
</audio>
</div>
</body>
</html>